{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "rules": {
    "react/prefer-es6-class": 0,
    "react/jsx-no-bind": 0,
    "max-len": [2, 150, 2]
  }
}
